# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Django
db.sqlite3
/staticfiles/
/media/
/.env

# VS Code
.vscode/

# Virtual environments
venv/
env/
*.egg-info/
dist/
build/

# OS files
.DS_Store
Thumbs.db
